/*General styles*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    background-color: #E4EAF2;
}

h1, h2, h3 {
    color: #011C40;
}

main {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.qualifications-info {
    background-color: #BFCAD9;
}

.photo-box {
    background-color: #0B2126;
}

.profile-photo { 
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 2%;
    border: 2px solid gray;
}